<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.DemoAutomationBank.utilities.Reporting" />
	</listeners>

	<test name="Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.DemoAutomationBank.testCases.BaseClass"/>
			<class name="com.DemoAutomationBank.testCases.CustomerLogin_TestCase" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
